@page "/tsp"

<h1>TSPSolver</h1>

@if (tour == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Tour tour in tours)
            {
                <tr>
                    <td>@tour.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    Tour[] tours;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetJsonAsync<Tour[]>("data/tspspecs.json");
    }

    public class Tour
    {
        public string Name { get; set; }

        public int[] OptimalTour { get; set; }

        public City[] cities { get; set; }
    }

    public class City
    {
        public float X { get; set; }
        public float Y { get; set; }
    }
}
